.list_of_tracks ul li {
	display: inline;
	padding-right: 50px;
}

#item_header li {
	font-size: 125%;
}

body {
	background: white;
}

#playlist {
	background: white;
	border: 5px;
	border-style: solid;
}

#favorite_song {
	color: green;
	font-size: 50%;
	font-style: italic;
}

#last_song {
	text-align: center;
	font-size: 70%;
}

.album_cover {
	width: 50px;
	height: 50px;
}

.track_name {
	font-variant: small-caps;
}

.artist {
	font-weight: bold;
}

.album_name {
	font-style: italic;
}

.release_date {
	font-size: 50%;
}

.genre {
	font-size: 50%;
	list-style-type: circle;
	display: list-item;
}